.titulo {
color: #ffcc66;
text-align: center;
margin-top: 20px;
font-size: 50px;
}

.subtitulo {
color: white;
text-align: center;
margin-top: 5px;
font-size: 30px;
}

.texto {
display: block;
color: white;
text-align: center;
margin-left: 450px;
margin-right: 450px;
margin-top: 5px;
font-size: 25px;
font-family: 'Playfair Display', serif;
}

.menu{
position: absolute;
right: 20px;
top: 20px;
width: 60px;
height: 60px;
}

.body{
background-color: maroon;
}

.foto_pizza {
position: absolute;
text-align: center;
margin-left: -390px;
top: 50px;
bottom: 50px;
width: 800px;
height: auto;
}

.rodape{
text-align: center;
color: white;
bottom: -10px;
font-size: 30px;
font-family: 'Playfair Display', serif;
}

.boasvindas{
color: white;
text-align: center;
margin-top: 5px;
font-size: 25px;
font-family: 'Dancing Script', cursive;
}

.botazul{
text-align: center;
color: white;
font-family: 'Playfair Display', serif;
text-decoration: none;
font-weight: bold;
}

.img-botao {
display: block;
margin: 0 auto;
width: 200px;
}

.dropdown {
position: absolute;
top: 100px;
right: 20px;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 8px;
padding: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown a {
text-decoration: none;
color: #333;
display: block;
padding: 6px;
}

.dropdown a:hover {
background-color: #f2f2f2;
}

.foto_pizza {
position: absolute;
text-align: center;
margin-left: -390px;
top: 50px;
bottom: 50px;
width: 800px;
height: auto;
transition: transform 0.5s ease;
}

.foto_pizza:hover {
transform: rotate(10deg);
}
